@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');
html,body{
    height:100%;
    width:100%;
    font-family: 'Roboto',sans-serif;
    background:rgb(119, 110, 110);
}
.cal-cover{
    background: pink;
    margin: 3vh 10vw;
    padding: 18px 0px;
    font-size: 17px;
}
.button{
    padding:20px;
    margin:0px 3px;
    width:66px;
    border:2px solid black;
    border-radius: 9px;
    cursor:pointer;
    font-size: 16px;
}
.row{
    margin: 8px 0px;
}
.row input{
    width:290px;
    margin:0;
    padding:10px 0px;
    border:2px solid black;
    border-radius:5px;
    font-size: 20px;
}

.text-center{
    text-align: center;
}
.bg-color{
    background:red;
}
.mx-auto{
    margin:auto;
}
.flex{
    display:flex;

}
.flex-col{
    flex-direction: column;
}
.item-center{
    align-items:center;
}
#but-1{
    width:142px;
}